Maintainer: "azkadev <azkadev@noemail.com>"
Package: telegram
Version: 0.0.0
Section: x11
Priority: optional
Architecture: amd64
Essential: no
Installed-Size: 0
Description: "A Telegram App Flutter Open Source."
Homepage: "https://youtube.com/@azkadev"
